* { margin: 0; padding: 0; box-sizing: border-box; }
body { width: 100vw; height: 100vh; display: flex; justify-content: center; align-items: center; background-color: beige; }
.container { display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 40px; width: 400px; height: 600px; border-radius: 20px; background-color: #fff; box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; }
.container > .num { font-size: 80px; color:rgb(192, 177, 148); }
.container > .count-btn-wrap { display: flex; gap: 10px; }
.container > .count-btn-wrap > .count-btn { border: none; font-size: 30px; color: #fff; background-color: rgb(212, 80, 106); padding: 14px 28px; border-radius: 10px; cursor: pointer; }
.container > .count-btn-wrap > .count-btn:hover { background-color: rgb(190, 51, 79); }
.container > .count-num-box { border: none; font-size: 30px; color: #fff; background-color: rgb(80, 152, 212); padding: 16px 40px; border-radius: 10px; }

